body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("https://www.churchofjesuschrist.org/bc/content/locations/temple-square-conference-center/images/CCExterior_Detail.jpg"); 
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

